:root {
    --nav-bg: #2d3436;
    --main-font: #ffeaa7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font);
}

html, 
body {
    scroll-behavior: smooth;
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    box-sizing: inherit;
}

h1 {
    font-size: 200%;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--nav-bg);
}

#navbar ul {
    display: flex;
    margin-right: 3%;
}

#navbar ul li {
    padding: 1.5rem;
}

#navbar ul li a {
    transition: border-bottom 0.1s ease-in-out;
}

#navbar ul li a:hover {
    border-bottom: 2px solid var(--main-font);
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    text-shadow: 5px 5px 5px var(--nav-bg);
    background-image:  linear-gradient(rgba(45, 52, 54, 0.4), rgba(45, 52, 54, 0.4)), url("https://bit.ly/35dPw5U");
    background-size: cover;
    background-attachment: fixed;
}

#welcome-section h1,
#welcome-section p {
    z-index: 10;
}

#projects {
    background-color: var(--nav-bg);
    height: 1000px;
}

#projects h1 {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 1%;
    border-bottom: var(--main-font) 2px solid;
    margin: 0 33%;
}