:root {
    --nav-bg: #2d3436;
    --main-font: #ffeaa7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-font);
}

html, 
body {
    scroll-behavior: smooth;
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    box-sizing: inherit;
}

h1 {
    font-size: 200%;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--nav-bg);
}

#navbar ul {
    display: flex;
    margin-right: 3%;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    display: block;
    padding: 1.4rem;
    transition: background-color 0.1s ease-in-out;
}

#navbar ul li a:hover {
    color: var(--nav-bg);
    background-color: var(--main-font);
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Audiowide', cursive;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-image.png");
    background-size: cover;
    background-attachment: fixed;
}

#projects {
    background-color: var(--nav-bg);
}

#projects h1 {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 1%;
    border-bottom: var(--main-font) 2px solid;
    margin: 0 25vw;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}